.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    margin-left: -1px;
}
.col-md-1:first-child, .col-md-2:first-child, .col-md-3:first-child, .col-md-4:first-child, .col-md-5:first-child, .col-md-6:first-child, .col-md-7:first-child, .col-md-8:first-child, .col-md-9:first-child, .col-md-10:first-child, .col-md-11:first-child, .col-md-12:first-child {
    margin-left: 0;
}
.button {
	width: 41px;
	height: 25px;
}


