<div class="bodyer odd">
	<div class="container">
		<h1>任务搜索</h1>
		<form name="form" novalidate>
			<div class="wrapper">
				<div class="trans-table">
					<div class="trans-line">
						<div class="col-md-2">
							<div class="trans-label">任务名称</div>
						</div>
						<div class="col-md-10">
							<div class="trans-ele">
								<input type="text" class="input-text" name="name" ng-model="name" formname="form" placeholder="任务名称">
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="trans-line">
						<div class="col-md-2">
							<div class="trans-label">创建人</div>
						</div>
						<div class="col-md-10">
							<div class="trans-ele">
								<input type="text" class="input-text" name="creater" ng-model="creater" formname="form" placeholder="创建人">
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="trans-line">
						<div class="col-md-2">
							<div class="trans-label">执行人</div>
						</div>
						<div class="col-md-10">
							<div class="trans-ele">
								<input type="text" class="input-text" name="executor" ng-model="executor" formname="form" placeholder="执行人">
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="trans-line">
						<div class="col-md-2">
							<div class="trans-label">项目进度</div>
						</div>
						<div class="col-md-10">
							<div class="trans-ele">
								<select class="input-select" name="done" ng-model="done" ng-chk="checkDone" formname="form">
									<option value="0">未完成</option>
									<option value="1">已完成</option>
								</select>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="trans-line">
						<div class="col-md-2">
							<div class="trans-label">项目组</div>
						</div>
						<div class="col-md-10">
							<div class="trans-ele">
								<select class="input-select" name="group" ng-model="group" formname="form">
									<option ng-repeat="groupInfo in groupInfoList" value="{{groupInfo.id}}">{{groupInfo.name}}</option>
								</select>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="trans-line textCenter">
						<div class="button" ng-click="submit()" formname="form">搜  索</div>
						<div class="button" ng-click="back()" formname="form">返  回</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
